<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="AutoLotSqlProvider" connectionString="Data Source=desktop-fossgj7\sqlexpress;
           Initial Catalog=AutoLot;Integrated Security=SSPI;"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>